@using EkbDataAccess
@model MvcEKCabinets.Models.HomeViewModel

<div class="row back">
    <div class="col-lg-12">
        <h1 class="page-header">
            Welcome to EKB Cabinets
        </h1>
    </div>
    @foreach (Brand b in Model.Brands)
    {
        <div class="col-md-3">
            <div>
                <div>                   
                    <ul class="list-unstyled">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="/cabinets/Lines?brandId=@b.Id&logoFile=@b.LogoFile&name=@b.Name">
                                <img src="/Uploads/@b.LogoFile" style="height:130px;" />
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (Line l in b.Lines)
                                {
                                    <li><a href="/Cabinets/Lines?lineId=@l.Id">@l.Name</a></li>
                                }

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }

</div>
@section scripts{
    <script>
        $(function () {
            $('.dropdown').hover(
    function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
    },
    function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
    }
  );

            $('.dropdown-menu').hover(
              function () {
                  $(this).stop(true, true);
              },
              function () {
                  $(this).stop(true, true).delay(200).fadeOut();
              }
            );

        });
    </script>
}