@{
    Layout = "~/Views/Shared/styledLayout.cshtml";
}

@using EkbDataAccess
@model MvcEKCabinets.Models.HomeViewModel

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to Express Kitchen Cabinets</h1>
            <hr>
            <p>EKB Cabinets can help you find an affordable, practical, and attractive solution to organize and beautify your home</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">EKB Cabinets has been an authorized dealer for a number of companies since 1995. We now have an extensive number of quality cabinets to choose from besides for optional countertops and vanities to choose from. </p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Cabinets</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            @foreach (Brand b in Model.Brands)
            {
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/cabinets/Lines?brandId=@b.Id&logoFile=@b.LogoFile&name=@b.Name">
                            <img src="/Uploads/@b.LogoFile" style="height: 130px;" />
                        </a>
                        <a href="/cabinets/Lines?brandId=@b.Id&logoFile=@b.LogoFile&name=@b.Name" class="btn btn-primary btn-xl sr-button">View Styles</a>
                        <p class="text-muted"></p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="/img/portfolio/fullsize/1.jpg" class="portfolio-box">
                    <img src="/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <img src="/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                    <img src="/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/img/portfolio/fullsize/5.jpg" class="portfolio-box">
                    <img src="/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>View Our Full Gallery!</h2>            
            <a href="/cabinets/portfolio" class="btn btn-default btn-xl sr-button">View Gallery!</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@ygoldgrab.com">feedback@ekbcabinets.com</a></p>
            </div>
        </div>
    </div>
</section>
